// Darkmode Colors:
$primary-darkmode: #160049;
$secondary-darkmode: #462689;
$text-darkmode: #ffffff;

// Lightmode Colors:
$primary-lightmode: #fbfaff;
$secondary-lightmode: #ddd5ef;
$text-lightmode: #160049;
$icons-lightmode: #ffffff;

// Global Colors
$accent-global: #dc3187;
